# ---
# OS-Related
# ---

# macOS
.DS_Store

# ---
# Editor-Related
# ---

# Vim swap files
*.swp
*.un~

# IDE / Editor
.idea
.vscode

# dotenv environment variables file
.env
.env.local
.env.*.local
